### Import Libraries (Exercise 4: Training a Clustering Model)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import math

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans


pd.set_option("display.max_rows", 400)

### Load data and explore

Visualize the output of the Customers.csv dataset, and note that it contains observations for 109 customers, including the following features:

• CustomerID: A unique identifier for each customer.

• Name: The customer’s full name.

• Age: The age of the customer.

• AvgWeeklySales. The average number of sales to this customer per week.

• AvgDrinks: The average number of drinks purchased by this customer per sale.

In [ ]:
df = pd.read_csv("Customers.csv",encoding="ISO-8859-1")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

### Transform data for training

In [ ]:
# Standardize for Age, AvgWeeklySales, AvgDrinks feature
scaler = StandardScaler()

In [ ]:
df1 = scaler.fit_transform(df[['Age', 'AvgWeeklySales', 'AvgDrinks']])

In [ ]:
df1

In [ ]:
df1 = pd.DataFrame(df1,columns=['Age', 'AvgWeeklySales', 'AvgDrinks'])

In [ ]:
df1

In [ ]:
df.head()

In [ ]:
df = df.drop(['Age', 'AvgWeeklySales', 'AvgDrinks'],axis=1)

In [ ]:
df.head()

In [ ]:
df2 = pd.concat([df,df1],axis=1)

In [ ]:
df2

In [ ]:
df2.shape

In [ ]:
#Save to csv
#df2.to_csv("lab4q3.csv",index=False)

In [2]:
df2 = pd.read_csv("lab4q3.csv")

In [3]:
X = df2.iloc[:,2:5]

In [4]:
X.head()

        Age  AvgWeeklySales  AvgDrinks
0 -1.301829       -0.352100  -0.668508
1  0.604881        1.316549   2.217328
2 -0.248121        1.316549   0.774410
3 -1.301829       -1.186425  -0.668508
4  0.956117        1.316549   0.774410

### Clustering Model Training

In [5]:
model = KMeans(n_clusters=3,random_state=0,max_iter=200)

In [6]:
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=200,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [7]:
labels = model.labels_
labels

array([1, 0, 2, 1, 0, 1, 1, 0, 0, 0, 2, 1, 2, 2, 1, 0, 0, 1, 2, 2, 0, 1,
       1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 2, 0, 0,
       2, 2, 2, 1, 0, 2, 1, 1, 0, 2, 2, 1, 1, 0, 1, 1, 1, 2, 0, 1, 1, 2,
       1, 1, 0, 0, 0, 2, 0, 1, 1, 1, 1, 0, 1, 1, 2, 1, 2, 0, 0, 0, 2, 0,
       1, 1, 1, 2, 1, 2, 0, 1, 2, 2, 2, 1, 1, 2, 0, 1, 1, 2, 1, 2, 0])

In [9]:
labels = pd.DataFrame(labels,columns=['Cluster'])

In [10]:
labels

     Cluster
0          1
1          0
2          2
3          1
4          0
5          1
6          1
7          0
8          0
9          0
10         2
11         1
12         2
13         2
14         1
15         0
16         0
17         1
18         2
19         2
20         0
21         1
22         1
23         1
24         1
25         2
26         2
27         1
28         1
29         2
30         1
31         2
32         1
33         0
34         0
35         1
36         2
37         1
38         2
39         1
40         2
41         2
42         0
43         0
44         2
45         2
46         2
47         1
48         0
49         2
50         1
51         1
52         0
53         2
54         2
55         1
56         1
57         0
58         1
59         1
60         1
61         2
62         0
63         1
64         1
65         2
66         1
67         1
68         0
69         0
70         0
71         2
72         0
73         1
74         1
75         1
76         1
77         0
78         1
79         1
80         2
81         1
82         2
83         0
84         0
85         0
86         2
87         0
88         1
89         1
90         1
91         2
92         1
93         2
94         0
95         1
96         2
97         2
98         2
99         1
100        1
101        2
102        0
103        1
104        1
105        2
106        1
107        2
108        0

In [11]:
df3 = pd.concat([df2,labels],axis=1)

In [12]:
df3

,CustomerID,Name,Age,AvgWeeklySales,AvgDrinks,Cluster
0,1,Marva Cardenas,-1.301829,-0.352100,-0.668508,1
1,2,Francine Fischer,0.604881,1.316549,2.217328,0
2,3,Kian Goddard,-0.248121,1.316549,0.774410,2
3,4,Jibran Quraishi,-1.301829,-1.186425,-0.668508,1
4,5,Noreen Branch,0.956117,1.316549,0.774410,0
5,6,Brain Dulaney,-0.197944,-1.186425,-0.668508,1
6,7,Armen Romo,0.705234,-0.352100,-0.668508,1
7,8,Maya Steele,-0.248121,1.316549,2.217328,0
8,9,Dan Drayton,1.156823,0.482224,0.774410,0
9,10,Niew Leekpai,1.558236,1.316549,0.774410,0
10,11,Vinicio Robles,0.956117,0.482224,-0.668508,2
11,12,Naiyana Kunakorn,-0.800063,-0.352100,-0.668508,1
12,13,Gerson Toro,0.103115,1.316549,-0.668508,2
13,14,Ansel Loiselle,-0.749887,0.482224,-0.668508,2
14,15,Eleanor Bryan,-1.301829,-1.186425,-0.668508,1
15,16,Jeanie Sheppard,1.307353,1.316549,1.495869,0
16,17,Burnell Plourde,1.457883,1.316549,2.217328,0
17,18,Consuelo Navarro,1.106647,-0.352100,-0.668508,1
18,19,Elwood McGee,-1.050946,1.316549,-0.668508,2
19,20,Freda Conley,-1.301829,1.316549,-0.668508,2
20,21,Carolos Lamy,1.658589,1.316549,1.495869,0
21,22,Rocco Yarborough,-1.352006,-1.186425,-0.668508,1
22,23,Janna Gamble,-1.251652,-1.186425,-0.668508,1
23,24,Carlene O'Neill,-0.398651,-1.186425,0.774410,1
24,25,Neandro Baeza,-1.352006,-0.352100,-0.668508,1
25,26,Patrick Lorenzen,1.156823,1.316549,-0.668508,2
26,27,Sonia Harrison,-1.251652,1.316549,-0.668508,2
27,28,Roman Pilcher,-0.850240,-1.186425,-0.668508,1
28,29,Vicky Erickson,0.705234,-1.186425,-0.668508,1
29,30,Zachary Parsons,1.658589,0.482224,-0.668508,2
30,31,Deanna Ball,1.106647,-0.352100,-0.668508,1
31,32,Billie Stonge,-0.298297,1.316549,0.774410,2
32,33,Delmar Pelchat,-0.348474,-0.352100,-0.668508,1
33,34,Jeanne Vestergaard,1.257176,0.482224,2.217328,0
34,35,Alaine Poisson,1.608413,-1.186425,0.774410,0
35,36,Sophia Garner,0.353998,-1.186425,-0.668508,1
36,37,Daitaro Ishida,-1.000770,1.316549,-0.668508,2
37,38,Nicholas Rose,1.407706,-0.352100,-0.668508,1
38,39,Anthony Frizzell,-1.301829,1.316549,-0.668508,2
39,40,Chad Corbitt,1.457883,-1.186425,-0.668508,1
40,41,Mara Rasmussen,-0.348474,1.316549,-0.668508,2
41,42,Lonnie Schindler,1.307353,1.316549,-0.668508,2
42,43,Rhonda Hughes,0.153292,-0.352100,1.495869,0
43,44,Linwood Guay,0.956117,-1.186425,0.774410,0
44,45,Margo Ayers,-1.151299,1.316549,-0.668508,2
45,46,Abbi Byrne,1.106647,0.482224,-0.668508,2
46,47,Margret Villarreal,-1.151299,0.482224,-0.668508,2
47,48,Jenny Norgaard,-1.151299,-1.186425,-0.668508,1
48,49,Joann Chambers,0.253645,0.482224,1.495869,0
49,50,Abby Burris,-1.251652,1.316549,-0.668508,2
50,51,Victoria Gray,-0.097591,-0.352100,-0.668508,1
51,52,Naowarat Kurusarttra,-0.749887,-0.352100,-0.668508,1
52,53,Jeanette Frandsen,0.705234,0.482224,0.774410,0
53,54,Pedro Fielder,0.303821,0.482224,-0.668508,2
54,55,Iselda Bahena,1.357530,1.316549,-0.668508,2
55,56,Ethan Rincon,-1.101123,-1.186425,-0.668508,1
56,57,Thaddeus Danforth,0.002762,-0.352100,-0.668508,1
57,58,Giovanni Vera,1.307353,-0.352100,0.774410,0
58,59,Victoria Holloway,0.504528,-1.186425,0.774410,1
59,60,Lucas Sondergaard,0.052939,-1.186425,-0.668508,1
60,61,Autumn Prince,-0.348474,-1.186425,-0.668508,1
61,62,Ireneo Piccio,-1.151299,1.316549,-0.668508,2
62,63,Erembourg Ratte,0.454351,-0.352100,0.774410,0
63,64,Nazzareno Piccio,-1.201476,-1.186425,-0.668508,1
64,65,Rodrigo Romani,0.454351,-1.186425,0.774410,1
65,66,Vaughn Oquendo,-1.000770,0.482224,-0.668508,2
66,67,Jennifer Davey,-1.251652,-1.186425,-0.668508,1
67,68,Joshua Murphy,1.006294,-1.186425,-0.668508,1
68,69,Germain Arenas,1.156823,-0.352100,2.217328,0
69,70,Nelida Zamora,-0.298297,-1.186425,2.217328,0
70,71,Jensigne Carlsen,1.407706,-1.186425,1.495869,0
71,72,Wade Munger,-1.201476,1.316549,-0.668508,2
72,73,Demi Vadeboncoeur,-0.699710,0.482224,2.217328,0
73,74,Carey Merrill,1.558236,-1.186425,-0.668508,1
74,75,Erik Collado,-0.850240,-1.186425,-0.668508,1
75,76,Letha Walls,0.153292,-1.186425,0.774410,1
76,77,Bellamy Garnier,-0.950593,-1.186425,-0.668508,1
77,78,Rosie Reeves,0.705234,-1.186425,2.217328,0
78,79,Amalio Pizarro,-0.950593,-0.352100,-0.668508,1
79,80,Nickolas McLaughlin,-0.599357,-1.186425,0.774410,1
80,81,Modesto Cabán,0.253645,1.316549,-0.668508,2
81,82,Holly Franklin,1.357530,-1.186425,-0.668508,1
82,83,Kari Tran,-0.549180,1.316549,0.774410,2
83,84,Rajab Shammas,1.006294,0.482224,0.774410,0
84,85,Aaliyah Briggs,0.554704,1.316549,1.495869,0
85,86,Arnold Valenti,0.153292,-0.352100,1.495869,0
86,87,Adam Brooks,1.558236,0.482224,-0.668508,2
87,88,Aisha Witt,0.956117,1.316549,0.774410,0
88,89,Zachary Fellows,0.353998,-1.186425,-0.668508,1
89,90,Vittoria Mancini,-1.151299,-1.186425,-0.668508,1
90,91,Adam Bjerregaard,-1.151299,-1.186425,-0.668508,1
91,92,Generosa Esposito,-1.000770,0.482224,-0.668508,2
92,93,Jimmie Turman,-0.850240,-0.352100,-0.668508,1
93,94,Naomi Sharp,-0.147768,1.316549,-0.668508,2
94,95,Abel Bevins,0.253645,-0.352100,2.217328,0
95,96,Abdul-Alim Mikhail,-0.850240,-1.186425,-0.668508,1
96,97,Corinne Horn,-0.248121,0.482224,-0.668508,2
97,98,Frederic Towle,-1.352006,0.482224,-0.668508,2
98,99,Dwayne Passmore,1.056470,0.482224,-0.668508,2
99,100,Gordon Fredrickson,1.307353,-0.352100,-0.668508,1
100,101,Daisuke Nakayama,-0.298297,-1.186425,0.774410,1
101,102,Francesca Lombardi,-1.050946,0.482224,-0.668508,2
102,103,Viv Pichardo,0.353998,0.482224,2.217328,0
103,104,Fabio Jaramillo,-1.101123,-0.352100,-0.668508,1
104,105,Den Kojima,-1.000770,-0.352100,-0.668508,1
105,106,Sheldon Comeaux,1.407706,0.482224,-0.668508,2
106,107,Jeannette Kjaer,-1.301829,-0.352100,-0.668508,1
107,108,Mayra Stephenson,-1.301829,1.316549,-0.668508,2
108,109,Agnano Brito,1.006294,1.316549,0.774410,0

### To which cluster was customer 1 (Marva Cardenas) assigned?

In [19]:
df3.iloc[0]

CustomerID                     1
Name              Marva Cardenas
Age                     -1.30183
AvgWeeklySales           -0.3521
AvgDrinks              -0.668508
Cluster                        1
Name: 0, dtype: object